[submodule "Fabrica-app"]
	path = Fabrica-app
	url = https://github.com/Auto-Scalers/Fabrica-app.git
[submodule "Fabrica-web"]
	path = Fabrica-web
	url = https://github.com/Auto-Scalers/Fabrica-web.git
[submodule "Fabrica-marketing"]
	path = Fabrica-marketing
	url = https://github.com/Auto-Scalers/Fabrica-marketing.git
[submodule "Fabrica-plugins"]
	path = Fabrica-plugins
	url = https://github.com/Auto-Scalers/Fabrica-plugins.git
[submodule "Fabrica-relay"]
	path = Fabrica-relay
	url = https://github.com/Auto-Scalers/Fabrica-relay.git
